<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:task="http://www.springframework.org/schema/task" xmlns:cache="http://www.springframework.org/schema/cache"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
     http://www.springframework.org/schema/cache
     http://www.springframework.org/schema/cache/spring-cache.xsd">
	<!--开启注解-->
	<context:annotation-config />
	<!-- quartz 定时任务注解配置 -->
	<task:scheduler id="scheduler" pool-size="2"/>
	<task:executor id="executor" pool-size="2"/>
	<task:annotation-driven executor="executor" scheduler="scheduler"/>
	<context:component-scan base-package="com.dykj.rpg.client" >

	</context:component-scan>

	<!--加载配置-->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:global.properties</value>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>

	<bean id="clientHandlerManager" class="com.dykj.rpg.net.handler.core.ClientHandlerManager" init-method="initHandler">
		<property name="packagePath" value="com.dykj.rpg.client.game"/>
	</bean>
	<import resource="server.xml"/>
	<!--<import resource="datasource.xml"/>-->
	<!--<import resource="redis-context.xml"/>-->
</beans>
