<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- jetty server start --> 
	<bean id="jettyRunner" class="com.dykj.rpg.net.jetty.JettyServer" init-method="start">
		<property name="port" value="${jetty.server.port}"/>
	</bean>
	

	<!--netty server start-->
<!--	<bean id="nettyRunner" class="NettyServer" init-method="start">
		<property name="port" value="${netty.server.port}"/>
	</bean>-->
</beans>
