<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.0.xsd
     http://www.springframework.org/schema/cache
     http://www.springframework.org/schema/cache/spring-cache.xsd">
    <!--开启注解-->
    <context:annotation-config/>
    <context:component-scan base-package="com.dykj.rpg">
        <context:exclude-filter type="regex" expression="com.dykj.rpg.common.config.*"/>
        <context:exclude-filter type="regex" expression="com.dykj.rpg.common.kafka.*"/>
    </context:component-scan>
    <!--加载配置-->
<!--    <bean id="propertyConfigurer"-->
<!--          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
<!--        <property name="locations">-->
<!--            <list>-->
<!--                <value>classpath:global.properties</value>-->
<!--                <value>classpath:db.properties</value>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->
    <import resource="nacos.xml"/>
    <import resource="server.xml"/>
    <import resource="datasource.xml"/>
    <import resource="redis-context.xml"/>
</beans>
